@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "serviceForm.css";

h1 {
    display: flex;
    flex-direction: column;
    font-size: 300%;
    align-items: center;
    justify-content: center;
    color: rgb(77, 9, 141);
}

img {
    margin-right: 2%;
    border-radius: 15%;
}

body {
    background-color: rgb(214, 182, 255);
    display: flex;
    justify-content: center;
}
