div {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

#submitRequest{
    margin-top: 2%;
    background-color: rgb(87, 16, 134);
    color: white;
}

button {
    border-radius: 8%;
}